{% extends 'base.html.twig' %}



{% block body %}

<br>
{% if app.user %}
  <p> Hey {{app.user.username}} </p>
  <a href="{{path('logout')}}" class="btn btn-danger"> Logout </a>
  <a href="{{path('add')}}" class="btn btn-success"> Add a telephone </a>
{% else %}
  <a href="{{path('login')}}" class="btn btn-primary"> Login </a>
  <a href="{{path('register')}}" class="btn btn-secondary"> Sign Up ! </a>
{% endif %}


<br>
<br>
<a href="{{path('constructeur')}}" class="btn btn-secondary"> Check the constructeurs </a>
<br>
{% for telephone in telephones %}


<div class="card m-2" style="width: 18rem;">
  <img src={{telephone.image}} class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{telephone.modelName}}</h5>
    <p class="card-text">{{telephone.description}}</p>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Price: {{telephone.price}}</li>
    <li class="list-group-item">Stockage: {{telephone.stockage}}</li>
    <li class="list-group-item">Constructeur: {{telephone.constructeur.name}}</li>
    <li class="list-group-item">Author: {{telephone.author.username}}</li>
  </ul>
</div>
    <a href="{{path('show', {id: telephone.id})}}" class="btn btn-primary">Check this phone</a>
  </div>
</div>
<hr>
{% endfor %}
{% endblock %}
